/*axis font size*/
.x.axis {
    font-size: .8em;
}

.axis {
    stroke: #222;
}

.x.axis.top {
    stroke-opacity: 0.2;
    stroke: #222;
    stroke-dasharray: 5 5;
}

/*make the y axes' text bold*/
.y.axis {
    font-size: 1em;
    font-weight: bold;
}

.y.axis.entropy {
    font-size: .8em;
    font-weight: normal;
}

/*styling for the lines representing the sequence for each sample*/
.line {
    fill: none;
    stroke-width: 2px;
    shape-rendering: geometricPrecision;
    clip-path: url(#clip);
}

.context.line {
    stroke-opacity: 0.1;
    stroke-width: 1px;
}

/*=============================*/
/*styling for grid lines*/
.grid line {
    stroke: #222;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
    stroke-width: 0;
}
/*=============================*/

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}